<div class="container py-5">
  <form #loginForm="ngForm" (ngSubmit)="submitHundler()" class="w-75 mx-auto">
    <!-- email -->
    <div class="mb-4">
      <label for="mail" class="form-label">Email</label>
      <input type="email" class="form-control p-3" id="mail" aria-describedby="nameHelp" #mail="ngModel" name="mail"
        ngModel required />
      <div *ngIf="
          (mail.touched && !mail.valid) ||
          (loginForm.submitted && !mail.valid)
        ">
        <div id="nameHelp" *ngIf="mail.errors && mail.errors['required']" class="form-text text-danger">
          This field is required *
        </div>
      </div>
    </div>
    <!-- password -->
    <div class="mb-4">
      <label for="password" class="form-label">Password</label>
      <input type="password" #password="ngModel" ngModel name="password" class="form-control p-3" id="password" required
        minlength="8" />
      <div *ngIf="
          (password.touched && !password.valid) ||
          (loginForm.submitted && !password.valid)
        ">
        <div *ngIf="password.errors && password.errors['required']" class="form-text text-danger">
          This field is required *
        </div>
        <div *ngIf="password.errors && password.errors['minlength']" class="form-text text-danger">
          min length is 8
        </div>
      </div>
    </div>
    <button (click)="submitHundler()" [disabled]="loginForm.form.status == 'INVALID'" routerLink="/productsList" type="submit"
      class="btn btn-outline-dark d-block w-auto px-5 py-2 mx-auto">Login</button>
    <p class="text-center mt-4">You don't have account? <a routerLink="../signup" class="text-dark">Create Account</a>
    </p>
  </form>
</div>
